<h1><%= @the_user.username %></h1>
<div></div>
<dt>Private</dt>
<dd><%= @the_user.private%></dd>
<dt>Followers</dt>
<dd><%= @the_user.followers.count%></dd>

<h4>Pending follow requests</h4>


<dt>Following</dt>
<dd><%= @the_user.following.count%></dd>

<ul>
  <li><a href="/users/<%= @the_user.username%>">Profile</a></li>
</ul>

<h2>Own photos (<%= @the_user.own_photos.count%>)</h2>
<table border="1">
  <tr>
    <th>Image</th>
    <th>Onwer</th>
    <th>Caption</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>
  
  <% @the_user.own_photos.each do |a_user| %>
  <tr>
    <td><img src= "<%= a_user.image %>"></td>
    <td><%=a_user.owner.username %></td>
    <td><%= a_user.caption %></td>
    <td><%= a_user.created_at%></td>
    <td><%= a_user.likes.count%></td>
    <td><a href="/photos/<%= a_user.id%>">Show details</a></td>
  <% end %>

  </tr>
  

</table>
